pd.set_option('colheader_justify', 'center')



<html>
    <head><title>HTML Pandas Dataframe with CSS</title></head>
    <link rel="stylesheet" type="text/css" href="df_style.css"/>
    <body>
        <table border="1" class="dataframe mystyle">
            <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th>postdate</th>
                    <th>name | link</th>
                    <th>created</th>
                    <th>by</th>
                    <th>LMS</th>
                    {% for row in csv %}
                    {% for col in row %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
             </thead>
        {% endfor %}
    </table>
    </body>

    </html>
</th>